#skip-link:link,
#skip-link:visited {
    display: block;
    width: 100%;
    margin: 0;
    padding: 2px 0 3px;
    background-color: #666;
    color: #fff;
    text-align: center
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
