/**
 * Reset the button's css
 */
html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: normal;
    vertical-align: baseline;
    cursor: auto;
    background-image: none;
    border: none;
    border-radius: 0;
}

html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button.libchat_online {
    background-color: transparent;
    color: inherit;
}

html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button.libchat_offline {
    background-color: transparent;
    color: inherit;
}

.libchat-button {
    display: inline-block;
}
