/*adjust width */
.container {
  width: 85%;
}

/* no breadcrumbs */
#s-lib-bc {
    display: none;
}

/* no shadow on content boxes */
.s-lib-box {
    box-shadow: 0 0 0 0;
    background-color: #ffffff;
}

/* set font size and family for ordered and unordered lists */
.s-lib-box ul li a {
    font-size: 16px;
    font-family: Miloweb;
}

/* adds bottom borderline to top tab navigation */
#s-lg-tabs-container .nav-tabs {
    border-bottom: 1.5px solid #ddd;
}

/* Guide title set to Miloweb, size increased to 28px font and margins adjusted */
#s-lg-guide-header-info h1,
.s-lib-header h1 {
    font-size: 28px;
    font-weight: 500;
    font-family: Miloweb;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Set default box title size and font */
.s-lib-box .s-lib-box-title {
    font-size: 1.5em;
    font-weight: 500;
    font-family: miloweb;
}

/* increase font weight for URL links*/
.s-lib-box-content a {
    font-weight: 500;
    font-size: 16px;
}

/* body line height changed*/
body {
    line-height: 1.5em;
}

/*Set widget button style*/
#s-lg-embedded-search-widget-1602627176080 button, input, optgroup, select, textarea {
    color: #fff;
    font-family: Miloweb;
    margin: 5px;
}
