#ua-web-branding-banner-v1:after,
.block--thumb-headline__more-link:after,
.block [class*=content]:after,
.compound-cta__content:after,
.compound-cta__header:after,
.content .block-container:after,
.footer__top:after,
.header__inner:after,
.main-nav-menu .menu:after,
.main-nav:after,
.main:after,
.region-alert .user-alert:after,
.region-top-utility-nav:after,
.region:after,
.tabs-primary:after,
.tabs-secondary:after,
.tabs__content--eql-homepage-widget .tab:after,
.tabs__content--eql-homepage-widget .thumb--item:after,
.tabs__vertical:after,
[class*=view-eq] .views-row:after {
    content: "";
    display: table;
    clear: both
}

#ua-web-branding-banner-v1 .ua-home,
#ual_content_alert .close,
.logo__ua-library,
.region-alert .user-alert-close a,
.replace-text {
    overflow: hidden
}

#ua-web-branding-banner-v1 .ua-home:before,
#ual_content_alert .close:before,
.logo__ua-library:before,
.region-alert .user-alert-close a:before,
.replace-text:before {
    content: "";
    display: block;
    width: 0;
    height: 100%
}
