.footer--sitewide {
    padding: 1em;
    background-color: #f6f6f6;
    border-top: 1px solid #eceae8
}

.footer a {
    color: #0c234b
}

.footer a:hover {
    color: #ab0520
}

.footer a.footer__button {
    display: block;
    margin: 1em 0;
    padding: .5em;
    float: left;
    background-color: #0c234b;
    color: #fff;
    text-decoration: none
}

.footer a.footer__button:hover {
    background-color: #ab0520;
    color: #fff
}

.footer__button--heart:after {
    padding: 0 .25em;
    content: " \2665"
}

.footer__logo {
    display: block;
    width: 300px;
    height: 45px;
    margin: .75em 0;
    float: left;
    background-repeat: no-repeat;
    background-size: 230px;
    font-weight: 700;
    background-position-y: center
}

.svg .footer__logo {
    background-image: url(../../images/logo/UAL_Redux_footer.svg)
}

.no-svg .footer__logo {
    background-image: url(../../images/logo/UAL_Redux_footer.png)
}

.footer__social-links {
    margin: .75em 0;
    float: left
}

@media (min-width:36em) {
    .footer__social-links {
        float: right
    }
}

.footer__section {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin: 1em 0
}

@media (min-width:36em) {
    .footer__section {
        width: 30%;
        float: left;
        margin-right: 1.69492%
    }

    .footer__section ul {
        margin-left: 1em
    }

    .footer__section li {
        margin: .5em 0
    }
}

.footer__section li {
    list-style: none
}

.footer__policies {
    margin: 1em 0;
    padding-top: 1em;
    clear: both;
    border-top: 1px solid #ddd
}

.footer__policies a {
    margin: 0 .25em
}

.footer__copyright {
    margin: 1em 0;
    font-size: .9em
}

.footer .block-cas input[type=submit] {
    display: block;
    margin: 0;
    padding: 0;
    float: right;
    background-color: transparent;
    border: 0;
    color: #0c234b;
    text-decoration: underline
}

.footer .block-cas input[type=submit]:focus {
    box-shadow: none;
    outline: thin dotted
}

.footer .block-cas input[type=submit]:hover {
    color: #ab0520
}

.footer .block {
    border-top: 1px solid #ddd
}

.footer .block.block-ual-footer-content {
    border: 0
}
