#ua-web-branding-banner-v1 {
    width: 100%;
    color: #fff;
    background-color: var(--gray-rain-cloud)
}

#ua-web-branding-banner-v1 .ua-home {
    display: block;
    float: left;
    height: 25px;
    width: 275px;
    background-repeat: no-repeat;
    background-position: 10px 0;
    overflow: hidden
}

#ua-web-branding-banner-v1 .ua-home:focus {
    background-color: var(--gray-med)
}

.svg #ua-web-branding-banner-v1 .ua-home {
    background-image: url(https://new.library.arizona.edu/sites/all/themes/custom/redux_ual/assets/dist/images/logo/university-of-arizona-logo-white.svg)
}

.no-svg #ua-web-branding-banner-v1 .ua-home {
    background-image: url(https://new.library.arizona.edu/sites/all/themes/custom/redux_ual/assets/dist/images/logo/university-of-arizona-logo-white.png)
}

.header {
    padding: 0;
    position: relative;
    background-color: var(--sky-blue);
    z-index: 100
}

.header a {
    text-decoration: none
}

.header .logo {
    float: left
}

@media (min-width:49em) {
    .header .logo {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -31px
    }
}

@media (min-width:49em) {
    .header .search {
        float: right;
        width: 30%
    }
}

.header .search__options {
    text-align: right
}

.header .search__options a {
    display: block;
    padding: 5px 0 5px 10px;
    text-decoration: underline
}

.header .search__options li {
    display: inline-block
}

.header ul {
    list-style: none
}

.header .block {
    margin: 0
}

.header__inner {
    position: relative;
    clear: both;
    padding: 10px 16px 16px;
    transition: padding .3s ease;
    background-color: var(--sky-blue);
}

@media (min-width:49em) {
    .header__inner {
        padding: 0 30px 30px
    }
}

.logo__ua-library {
    display: block;
    position: relative;
    width: 300px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: 0 -62px;
    background-size: 300px;
    z-index: 2;
    background-image: url(https://new.library.arizona.edu/sites/all/themes/custom/redux_ual/assets/dist/images/logo/university-libraries-logo-new-w-2x.png)
}

.no-backgroundsize .logo__ua-library {
    background-image: url(https://new.library.arizona.edu/sites/all/themes/custom/redux_ual/assets/dist/images/logo/university-libraries-logo-w.png)
}

@media (min-width:36em) {
    .logo__ua-library {
        background-position: 0 0
    }
}

@media (min-width:49em) {
    .logo__ua-library {
        margin: 0;
        top: 0
    }
}

@media (min-width:49em) {
    .region-header-right {
        float: right;
        width: 40%
    }
}

@media (max-width:48.999em) {
    .region-header-right .block-ual-cse {
        position: static
    }
}

.header__account-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10
}
